html, body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 960;
    margin: 0 auto;
}
body{
    max-width: 960px;
}

@media screen and (max-width: 960px) {
    body {
        width: 100%;
    }
}

#page {
    max-width: 940px;
    max-height: 940px;
    margin: 10px auto;
    padding: 20px;
    border: 4px double #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    background-image: url(images/try.jpg);
    background-size: cover;
}

#logo {
    float: left;
    bottom: 25px;
}
.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul#navigation {
    text-align: center;
    padding: 15px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul#navigation li {
    margin: 0 15px;
}
@media screen and (max-width: 600px) {
    ul#navigation li {
        flex-grow: 1;
        text-align: center;
    }
}

p{
    text-align: center;
    position: relative;
    top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: white;
    padding: 100px;
    right: 170px;
}

a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

a:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid red;
    transition: all 1s ease-out;
    transform: translateX(-50%);
    border-radius: 10px;
}